<!DOCTYPE html>  
<html>  
<head runat="server">  
    <title>Forgot Password Page</title>  
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <form>
        {% csrf_token %}
        <label>Enter id:-
            <input type="number" id="id">
        </label>
        <br>
        <label>password :
            <input name="password" id="password" type="password" />
        </label>
        <br>
        <label>confirm password:
            <input type="password" name="confirm_password" id="confirm_password" />
        <span id='message'></span>
        </label>
        <br>
        <input type="button" id="Save" value="Submit" />  
    </form>
    
    <script>  
        $('#password, #confirm_password').on('keyup', function () {
            if ($('#password').val() == $('#confirm_password').val()) {
                $('#message').html('Matching').css('color', 'green');
            } else 
                $('#message').html('Not Matching').css('color', 'red');
        });
         $(document).ready(function () { 
            
             $("#Save").click(function () {  
             	 var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
                 var id = $("#id").val();
                 var url = "{% url 'update' 0 %}".replace(0, id);
                 alert("Your selected id is "+id)
                 var person = new Object();
                 person.password = $('#password').val();
                 var ndata = JSON.stringify(person);
                 
                 $.ajax({  
                     url: url,  
                     type: "PATCH",  
                     dataType: "json",  
                     contentType: "application/json; charset=utf-8",
                     data: ndata, 
                     headers:{"X-CSRFToken": $crf_token}, 
                     success: function (ndata) {  
                         alert(JSON.stringify(ndata)); 
                     },  
                     error: function (errMsg) {  
                         alert(errMsg);  
                     }  
                 });  
             });  
         });  
    </script>  
</head>   
</html>