<!DOCTYPE html>  
<html>  
<head runat="server">  
    <title>Login</title>  
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>  
     <script>  
         $(document).ready(function () {  
             $('#submit').click(function() {
              var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
              var nid = $("#id").val();
              var url = "{% url 'retrieve' 0 %}".replace(0, nid);

    $.ajax({
             url : url,
             dataType: "json",
             contentType: "application/json; charset=utf-8",
             success : function (data) {
                      $('#firstname').text( data.firstname);
                      $('#lastname').text( data.lastname);
                      $('#email').text( data.email);
                    },
                    error: function(errMsg){
                      alert(nid)
                    }
                 });
             });  
         });  
    </script>  
</head>  
<body>  
    <form>
        Enter user id here: <input type="number" id="id">
        <input type="button" id="submit" value="Click me">
    </form>

<div id="jsonresp" style="margin-top: 100px">
  
   <p><label> First name :</label> <span id="firstname"></span></p>
   <p><label> Last name :</label> <span id="lastname"></span></p>
   <p><label> Email :</label> <span id="email"></span></p>

</div>
</body>    
</html>