<!DOCTYPE html>  
<html>  
<head runat="server">  
    <title>Login</title>  
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>  
     <script>  
         $(document).ready(function () {  
             $("#Save").click(function () {  
             	 var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
                 var person = new Object();
                 person.firstname = $('#firstname').val();
                 person.lastname = $('#lastname').val();  
                 person.email = $('#email').val();
                 person.password = $('#password').val();
                 var ndata = JSON.stringify(person);
                 
                 $.ajax({  
                     url: "http://localhost:8000/signup/",  
                     type: "POST",  
                     dataType: "json",  
                     contentType: "application/json; charset=utf-8",
                     data: ndata, 
                     headers:{"X-CSRFToken": $crf_token}, 
                     success: function (ndata) {  
                         alert(JSON.stringify(ndata)); 
                     },  
                     error: function (errMsg) {  
                         alert(errMsg);  
                     }  
                 });  
             });  
         });  
    </script>  
</head>  
<body>  
    <form>  
        {%csrf_token%}
        firstname:- <input type="text" id="firstname" /><br>  
        lastname:- <input type="text" id="lastname" /><br>
        email:- <input type="text" id="email" />  <br>
        password:- <input type="text" id="password" /><br>
        <input type="button" id="Save" value="Save Data" />  
    </form>  
</body>  
</html>